
menu "1NCE CoAP client sample"

config COAP_URI_QUERY
	string "CoAP URI Query"
	help
	   "the URI Query option used to set the topic for 1NCE IoT integrator"
	default "t=test"

config COAP_SAMPLE_SERVER_HOSTNAME
	string "CoAP server hostname"
	default "coap.os.1nce.com"

config COAP_SAMPLE_SERVER_PORT
	int "CoAP server port"
	default 5683

config COAP_SAMPLE_REQUEST_INTERVAL_SECONDS
	int "Request interval in seconds"
	default 60
config NCE_ENABLE_DTLS
	bool "Enable DTLS support"
	default n
config NCE_DTLS_SECURITY_TAG
	int "DTLS TAG that will be used to store the received credentials"
	default 1111

if !NCE_ENERGY_SAVER
config PAYLOAD
	string "Message to send to 1NCE Iot Integrator"
	default "Hi, this is a test message!"
endif

if NCE_ENERGY_SAVER	
config NCE_PAYLOAD_DATA_SIZE
	int "payload data size"
	default 10
endif	

config NCE_ENABLE_DEVICE_CONTROLLER
	bool "Enable Device Controller Feature"
	default n
	help
	  Enable additional configurations for the device controller.

if NCE_ENABLE_DEVICE_CONTROLLER
config NCE_RECEIVE_BUFFER_SIZE
    int "Size of receive buffer for device controller"
    default 1024
    help
        Size of buffer used for receiving CoAP messages in device controller.

config NCE_RECV_PORT
    int "Port number for device controller"
    default 3000
    help
        UDP port number for receiving CoAP messages.

config NCE_CONTROLLER_INTERVAL
    int "Interval between device controller executions (seconds)"
    default 50
    help
        Time between successive executions of the device controller.
endif
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = COAP_CLIENT_SAMPLE
module-str = 1NCE CoAP client sample
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
